<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="TodoDb" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\rgarn\source\repos\CIS1280\ToDoList\ToDoList\TodoDb.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>